[Unit]
Description=Daily sync timer for almalex.ch
Requires=almalex-sync-all.service

[Timer]
OnCalendar=*-*-* 05:00:00
Persistent=true

[Install]
WantedBy=timers.target
